@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap");

html, body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Sans Arabic", sans-serif !important;
  direction: rtl;
}

html {
  background-color: black; 
}

html.background-active {
  background-image: url("./PICs/back.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
@media (max-width: 768px) {
  .header {
    height: 40px;
    padding: 5px;
    margin-bottom: 30px;
  }

  .header h1 {
    font-size: 1rem;
  }

  .footer p {
    font-size: 0.9rem;
    margin-top: 10px;
  }

  .App {
    flex-direction: column;
    align-items: center;
  }

  html.background-active {
    background-attachment: scroll; 
  }
}

html::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); 
  z-index: -1;
}

.header {
  background-color: black;
  width: 100vw;
  height: 50px;
  margin-bottom: 60px;
  padding: 10px;
  z-index: 2;
}

.header h1 {
  color: white;
  text-align: center;
  margin-top: 2px;
}

.App {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.MuiOutlinedInput-notchedOutline {
  border-color: rgb(250, 247, 247) !important; 
}

.MuiSvgIcon-root {
  color: rgb(250, 247, 247) !important;
} 

.footer p {
  color: white;
  text-align: center;
  margin-top: 2px;
}
